name: Build image and run tests

on:
  # push:
  #   branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: build image and dummy test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: git status
      run: |
        git log -1 | cat

    - name: testing
      run: echo "testing..."

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag bucciarati.tail5b1a8.ts.net/ts-exporter:$(git rev-parse --short HEAD) --tag ts-exporter:$(git rev-parse --short HEAD)

    - name: Connect Tailscale
      uses: tailscale/github-action@v2
      with:
        # Your Tailscale authentication key, from the admin panel.
        authkey: ${{ secrets.TS_AUTHKEY }}
        hostname: temp-runner

    - name: run docker compose
      env:
        TS_ACCESSKEY: ${{secrets.TS_ACCESSKEY}}
        TS_NET: ${{secrets.TS_NET}}
      run: | 
        docker compose up -d
        
    - name: test server
      run: |
        curl -f --retry 4 --retry-delay 2 --retry-all-errors http://localhost:5000/debug
    

    # - name: Docker Login
    #   uses: docker/login-action@v3.6.0
    #   with:
    #     # Server address of Docker registry. If not set then will default to Docker Hub
    #     registry: bucciarati.tail5b1a8.ts.net
    #     # Username used to log against the Docker registry
    #     username: moody
    #     # Password or personal access token used to log against the Docker registry
    #     password: ${{ secrets.REGISTRY_PASSWORD }}
    #     # Specifies whether the given registry is ECR (auto, true or false)
    #     # ecr: # optional
    #     # Log out from the Docker registry at the end of a job
    #     # logout: # optional, default is true
    #     # Raw authentication to registries, defined as YAML objects
    #     # registry-auth: # optional

    # - name: Push image to registry
    #   run: |
    #     ls
    #     docker image push bucciarati.tail5b1a8.ts.net/ts-exporter:$(git rev-parse --short HEAD)
