name: Build image and run tests

on:
  # push:
  #   branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: build image and dummy test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set version
      run: echo "TS_EXPORTER_LATEST=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag bucciarati.tail5b1a8.ts.net/ts-exporter:$TS_EXPORTER_LATEST --tag ts-exporter:$TS_EXPORTER_LATEST

    - name: Connect Tailscale
      uses: tailscale/github-action@v2
      with:
        # Your Tailscale authentication key, from the admin panel.
        authkey: ${{ secrets.TS_AUTHKEY }}
        hostname: temp-runner

    - name: run docker compose
      env:
        TS_ACCESSKEY: ${{secrets.TS_ACCESSKEY}}
        TS_NET: ${{secrets.TS_NET}}
      run: | 
        docker compose up -d
        
    - name: test server
      run: |
        curl -f --retry 4 --retry-delay 2 --retry-all-errors http://localhost:5000/debug

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.FF_SSH_KEY }}
    
    - name: SSH into server
      run: |
        ssh -o StrictHostKeyChecking=no moody@foofighters "ls ~/le_docks"

